@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Phonk';
  src: url('/fonts/phonk.otf');
}

body {
  background-color: black;
  color: white;
}

.page-container {
  @apply mx-auto max-w-7xl px-[11px] md:px-7;
}